---
layout: blog-default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.data.blog.url}}" aria-label="Back to main website"><img src="/assets/img/{% if site.data.blog.author-img %}{{site.data.blog.author-img}}{% endif %}" aria-label={{site.data.blog.author}}"></a>
      </div>
      <div class="author-name">{{site.data.blog.author}}</div>
      <p>{{site.data.blog.about-author}}</p>
      <p>
      &mdash;
      <p>
      [<a href="{{site.data.blog.url}}" aria-label="Lara's homepage">Back to Lara's Main Site</a>]
      </p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.data.blog.social-mastodon %}
          <li class="github"><a href="{{site.data.blog.social-mastodon}}" target="_blank"><i class="fa-brands fa-mastodon"></i></a></li>
        {% endif %}
        {% if site.data.blog.social-github %}
          <li class="github"><a href="http://github.com/{{site.data.blog.social-github}}" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        {% endif %}
        {% if site.data.blog.social-linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.data.blog.social-linkedin}}" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        {% endif %}
        {% if site.data.blog.social-twitter %}
          <li><a href="https://twitter.com/{{ site.data.blog.social-twitter }}" target="_blank"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        <!--{% if site.data.blog.social-email %}<li class="email"><a href="mailto:{{site.data.blog.social-email}}"><i class="fa fa-envelope-o"></i></a></li>{% endif %}-->
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.data.blog.time | date: '%Y'}} &copy; {{site.data.blog.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
